<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <footer class="bg-light">
    <div class="container py-2">
        <div class="row justify-content-center">
            <div class="col-md-4 mb-4 text-start">
                <h5>Minha Loja</h5>
                <p>Não vendo borboletas, vendo BORBOLETAS.</p>
                <p>(borboletas imaginárias).</p>
            </div>
            <div class="col-md-4 mb-4 text-start">
                <h5>Links úteis</h5>
                <p><a href="#" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Sobre Nós</a></p>
                <p><a href="#" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Contato</a></p>
                <p><a href="#" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Termos de Serviço</a></p>
                <p><a href="#" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Política de Privacidade</a></p>
            </div>

            <div class="col-md-4 mb-4 text-start">
                <h5>Redes Sociais</h5>
                <p><a href="#" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Light link</a></p>
                <p><a href="#" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Light link</a></p>
                <p><a href="#" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Light link</a></p>
                <p><a href="#" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Light link</a></p>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-dark py-2">
        <p class="text-center text-light">© 2024 Minha Loja. Todos os direitos reservados.</p>
        <p class="text-center text-light">©raynara e pedro paulo</p>
    </div>
  </footer>

</body>
</html>
