.flex-container {
  background: linear-gradient(to right, var(--primary-color), var(--secondary-color), var(--tertiary-color));
  color: var(--text-color);
}

.nav-link {
  color: var(--text-color) !important;
}

.text-body-secondary{
  color: var(--text-color)
}





