<form>
  <h3 class="text-center">Se Inscreva!</h3>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Insira o seu E-mail</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Senha</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Não sou um robô.</label>
  </div>
  <a href="pp, coloque o link q tu quer aqui" class="btn btn-primary">Embarque nesta aventura!</a>
</form>

