/* You can add global styles to this file, and also import other style files */
:root{
  --primary-color: #4cae4f;
  --secondary-color: #2e7d32;
  --tertiary-color: #81c784;
  --text-color: white;
}

html {
  scroll-behavior: smooth;
}
