<div class="container p-3 mb-2">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img [src]="imagem_amazonica" class="card-img-top" alt="mata">
        <div class="card-body">
          <h5 class="card-title">Amazônia</h5>
          <p class="card-text">Maior bioma brasileiro, abriga a maior biodiversidade do planeta. Clima quente e úmido, com floresta densa e rios extensos. Fundamental para o equilíbrio climático global.</p>
          <button (click)="alterar_amazonica()" class="btn btn-primary"><i class="bi bi-eye"></i> Ver</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img [src]="imagem_cerrado" class="card-img-top" alt="capivara">
        <div class="card-body">
          <h5 class="card-title">Cerrado</h5>
          <p class="card-text">Segunda maior formação vegetal do país, possui vegetação de savana e grande biodiversidade. É o berço das principais bacias hidrográficas brasileiras, mas sofre com desmatamento para a agropecuária.</p>
          <button (click)="alterar_cerrado()" type="button" class="btn btn-primary"><i class="bi bi-eye"></i> Ver</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img [src]="imagem_atlantica" class="card-img-top" alt="características">
        <div class="card-body">
          <h5 class="card-title">Mata Atlântica</h5>
          <p class="card-text">Originalmente cobria grande parte do litoral brasileiro. É altamente biodiverso, mas é reduzido em fragmentos devido à urbanização e agricultura. É essencial para a regulação do clima e preservação de recursos hídricos..</p>
          <button (click)="alterar_atlantica()" type="button" class="btn btn-primary"><i class="bi bi-eye"></i> Ver</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container p-3 mb-2">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img [src]="imagem_caatinga" class="card-img-top" alt="mata">
        <div class="card-body">
          <h5 class="card-title">Caatinga</h5>
          <p class="card-text">Exclusiva do Brasil, apresenta vegetação adaptada ao clima semiárido, com chuvas irregulares e solos pobres. Resiliente, mas vulnerável à desertificação.</p>
          <button (click)="alterar_caatinga()" type="button" class="btn btn-primary"><i class="bi bi-eye"></i> Ver</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img [src]="imagem_pantanal" class="card-img-top" alt="capivara">
        <div class="card-body">
          <h5 class="card-title">Pantanal</h5>
          <p class="card-text">Maior barragem alagada do mundo, com rica biodiversidade e clima tropical. É um ecossistema importante para aves aquáticas e fauna silvestre, mas sofre com queimadas e atividades humanas.</p>
          <button (click)="alterar_pantanal()" type="button" class="btn btn-primary"><i class="bi bi-eye"></i> Ver</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img [src]="imagem_pampa" class="card-img-top" alt="características">
        <div class="card-body">
          <h5 class="card-title">Pampa</h5>
          <p class="card-text">Localizada no Sul, possui vegetação campestre com gramíneas e poucas árvores. Importante para a pecuária, mas ameaçado pela expansão agrícola.</p>
          <button (click)="alterar_pampa()" type="button" class="btn btn-primary"><i class="bi bi-eye"></i> Ver</button>
        </div>
      </div>
    </div>
  </div>
</div>
