<div class="container p-3 mb-2">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img [src]="imagem_amazonica" class="card-img-top" alt="mata">
        <div class="card-body">
          <h5 class="card-title">Amazônia</h5>
          <p class="card-text">resumo.</p>
          <button (click)="alterar_amazonica()" class="btn btn-primary"><i class="bi bi-eye"></i> Ver</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img [src]="imagem_cerrado" class="card-img-top" alt="capivara">
        <div class="card-body">
          <h5 class="card-title">Cerrado</h5>
          <p class="card-text">resumo.</p>
          <button (click)="alterar_cerrado()" type="button" class="btn btn-primary"><i class="bi bi-eye"></i> Ver</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img [src]="imagem_atlantica" class="card-img-top" alt="características">
        <div class="card-body">
          <h5 class="card-title">Mata Atlântica</h5>
          <p class="card-text">resumo.</p>
          <button (click)="alterar_atlantica()" type="button" class="btn btn-primary"><i class="bi bi-eye"></i> Ver</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container p-3 mb-2">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img [src]="imagem_caatinga" class="card-img-top" alt="mata">
        <div class="card-body">
          <h5 class="card-title">Caatinga</h5>
          <p class="card-text">resumo.</p>
          <button (click)="alterar_caatinga()" type="button" class="btn btn-primary"><i class="bi bi-eye"></i> Ver</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img [src]="imagem_pantanal" class="card-img-top" alt="capivara">
        <div class="card-body">
          <h5 class="card-title">Pantanal</h5>
          <p class="card-text">resumo.</p>
          <button (click)="alterar_pantanal()" type="button" class="btn btn-primary"><i class="bi bi-eye"></i> Ver</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img [src]="imagem_pampa" class="card-img-top" alt="características">
        <div class="card-body">
          <h5 class="card-title">Pampa</h5>
          <p class="card-text">resumo.</p>
          <button (click)="alterar_pampa()" type="button" class="btn btn-primary"><i class="bi bi-eye"></i> Ver</button>
        </div>
      </div>
    </div>
  </div>
</div>
