.background-container{
  background-image: url('https://wallpapers.com/images/hd/forest-desktop-xcetc4lf7kad6o5x.jpg');
  background-size:cover;
  background-position:center;
  height:100vh;
  width:100%;
}
